body{
    font-family: 'Roboto',
    sans-serif;
    padding: 10px;
}

h1{
    font-size: 50px;
}

.tomato-color{
    color: tomato;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}

.set-width{
    width: 50%;
    padding-left: 3%;
    
}

.set-width a{
    margin-bottom: 100px;
}

.set-width img{
    width: 70%;
    padding-left: 10%;
}



#div-set-2{
    width: 50%;
    padding-left: 2%;
    text-align: justify;
    margin-right: 80px;
    margin-left: 80px;
    
}
.div-food-1{
    display:flex;
    margin-bottom: 120px;
}

.div-food-2{
    display:flex;
    background-image: url(../images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    margin-right: -30px;
    margin-left: -20px;
   
}







.link-button{
    text-decoration: none;
    background-color: red;
    background-image: linear-gradient(tomato,hotpink);
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 500;
    
}

#recipe-1{
    text-align: center;
}

.recipe-para{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.recipe-card-1{
    margin: 0px;
    padding: 0px;
    width: 40%;
    background-color: white ;
    border: 20px solid white;
    border-radius: 30px;
    box-shadow: 20px 30px 40px gray;
    
    
}

.card-image img{
    width: 100%;
    
}
.card-title{
    text-align: center;
    
}

.card-description{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}